@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

body{
    background-color: #cbeef4;
    font-family: "Roboto", sans-serif;
}
img{
    display: block;
    margin: 20px auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}
h3{
    color: #D5A2FE;
    font-family: "Russo One", sans-serif;
    text-align: center;
}   
#iam {
    color: #A3A6A3;
}
ul{
    display: table;
    margin: 0 auto;
}
table, th, td {
    border: 1px solid black;
    background-color: #9CFAB0;
    text-align: center;
    width: 400px;
    margin: 30px auto;
}
th{
    background-color: #A3A6A3;
}
td{
    background-color: #9CFAB0;
}
tr:hover {
    background-color: #A3A6A3;
}
#figma-rating{
    color: #D5A2FE;
    font-weight: bold;
}
#html-rating{
    color: indigo;
    font-weight: bold;
}
p{
    text-align: center;
    
}
a{
    text-decoration: none;
    display: block;
    width: 200px;
    color: indigo;
    margin: 20px auto;
    text-align: center;
}
a:hover{
    text-decoration: underline;
}
hr{
    width: 200px;
    height: 10px;
    margin: 20px auto;
    background-color: #d1b7e5;
    border: none;
    border-radius: 5px;
}